$tag-border-radius: 0.25rem !default;
$tag-padding-y: 0.25rem !default;
$tag-margin-y: 0.25rem !default;
$tag-margin-x: 0.25rem !default;
$tag-text-padding-x: 0.5rem !default;
$tag-icon-padding-x: 0.25rem !default;
$tag-font-size: 1rem !default;
$tag-font-weight: 400 !default;
$tag-alpha: 0.05 !default;


.random-tag{
    @include tag-color($black, $tag-alpha);
    border: 1px solid;
    border-radius: $tag-border-radius;
    font-weight: $tag-font-weight;
    display: inline-block;
    margin-right: $tag-margin-x;
    margin-bottom: $tag-margin-y;
    > .random-tag-span{
        display: inline-block;
        @include tag-boxing($tag-padding-y, $tag-text-padding-x, $tag-font-size);
    }
    > .random-tag-icon{
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        padding-right: $tag-icon-padding-x;
        padding-top: auto;
        padding-bottom: auto;
        
    }
}

.random-tag-blue{
    @include tag-color($blue, $tag-alpha);
}

.random-tag-indigo{
    @include tag-color($indigo, $tag-alpha);
}
.random-tag-purple{
    @include tag-color($purple, $tag-alpha);
}
.random-tag-pink{
    @include tag-color($pink, $tag-alpha);
}
.random-tag-red{
    @include tag-color($red, $tag-alpha);
}
.random-tag-orange{
    @include tag-color($orange, $tag-alpha);
}
.random-tag-yellow{
    @include tag-color($yellow, $tag-alpha);
}
.random-tag-green{
    @include tag-color($green, $tag-alpha);
}

.random-tag-teal{
    @include tag-color($teal, $tag-alpha);
}
.random-tag-cyan{
    @include tag-color($cyan, $tag-alpha);
}

.random-tag-success{
    @include tag-color($success, $tag-alpha);
}

.random-tag-pending{
    @include tag-color($info, $tag-alpha);
}

.random-tag-error{
    @include tag-color($danger, $tag-alpha);
}

.random-tag-warning{
    @include tag-color($warning, $tag-alpha);
}