@mixin button-size($padding-y, $padding-x, $font-size, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border-radius: $border-radius;
}

@mixin button-style(
  $background,
  $border,
  $color,
  $hover-background: lighten($background, 7.5%),
  $hover-border: lighten($border, 10%),
  $hover-color: $color
) {
  background: $background;
  color: $color;
  border-color: $border;
  &:hover {
    color: $hover-color;
    background: $hover-background;
    border-color: $hover-border;
  }
  &:focus,
  &.focus {
    color: $hover-color;
    background: $hover-background;
    border-color: $hover-border;
    outline: none;
  }
  &:disabled,
  &.disabled {
    color: $color;
    background: $background;
    border-color: $border;
  }
}

@mixin tabs-menu-item-boxing($padding-y, $padding-x, $margin-x, $font-size) {
  padding: $padding-y $padding-x;
  margin-inline: $margin-x;
  font-size: $font-size;
}

@mixin tabs-card-boxing ($padding-y, $padding-x, $font-size){
  padding: $padding-y $padding-x;
  font-size: $font-size;
}


